.pagination{
    display: flex;
    width: max-content;
    list-style: none;
    padding: 12px;
    justify-content: center;
    align-items: center;
    margin: auto;
    direction: rtl;
}
.pagination > li{
    margin: 2px 12px;
    cursor: pointer;
    
}
.pagination .disable-page{
    color: var(--disable-pen);
}
.pagination .active-page{
    background-color: var(--main-dark);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  
}
.pagination .active-page > a{
    position: relative;
    top: 1px;
    font-size: 10pt;
}