.Loginbox{
    height: 100%;
    margin:3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Loginbox > div{
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 1px rgb(204, 204, 204);
    width: 360px;
    background-color: var(--main-dark);
}
.Loginbox > div > div{
    margin: 0.5rem auto;
}
.Loginbox > div button{
    display: block;
    margin: 2rem auto;
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    
}
/* .Loginbox > div button > span{
    font-family: "IRANSansWeb" !important;
} */
.Loginbox > div button:hover{
    color: var(--main-color);
}
.Loginbox > div > img{
    width: 100px;
    margin:0.5rem auto 3rem;
    display: block;
   
}
.Loginbox > div > div > div > input{
    background-color: white;
    padding: 12px 16px;
    border-radius: 12px;
}
.Loginbox > div > div > div::after , .Loginbox > div > div > div::before{
    display: none;
}
.Loginbox > div > div > div > input::placeholder{
    font-size: 10pt;
}