.box{
    background-color: var(--main-dark);
    border-radius: 12px;
    position: relative;
    top: 0;
    height: auto;
    padding: 1rem 2rem;
    margin: 1rem auto;
}
.box-tbl{
    background:none;
    border-radius: 12px;
    position: relative;
    top: 0;
    height: auto;
    padding: 1rem 1.1rem;
    margin: 1rem auto;
}