.tb-row{
   /*  display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid var(--light-gray);
     direction: rtl; */
     text-decoration: none;
     width: 100%;
     margin-top: 0.9em;
     background-color: white;
     width: 100%;
     border-radius: 8px;
     height: 60px;
     padding: 8px;
     box-shadow: var(--box-shadow);
     display: flex;
     justify-content: center;
     direction: rtl;
}
.tb-row:hover{
    box-shadow: 1px 1px 6px 2px rgb(187, 187, 187) ;
    cursor: pointer;
}
.tb-row .tb-column:first-child{
    min-width: 5%;
    flex: 5%;
}
.tb-row .tb-column{
    width: max-content;
    color: var(--main-dark);
    position: relative;
    top: 8px;
    font-weight:500 ;
    font-size: 12pt;
    min-width: 15%;
    flex: 15%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.tb-row .tb-column > p{
    font-size: 12pt;
    color: var(--main-pen);
}
.edit-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    flex:100px;
}
.edit-row  > a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px 8px; 
}
.edit-row  > a > svg{
    position: relative;
    top: 2px;
    width: 18px;
}
.edit-row  > a:hover{
    background-color: var(--main-dark);
}
.edit-row  > a:hover svg{
    color: white;
    cursor: pointer;
}
.no-exist{
    text-align: center;
color: var(--gray);
margin-bottom: 0px;
margin-top: 10px;
}