.loading-gif  svg{
    max-width:160px;
    height: auto;
    
}
.loading-gif {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.52);
  top: 0px;
  z-index: 99;
  text-align: center;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-mini{
text-align: center;
}
.loading-mini > img{
  margin: auto;
}