.header{
    background-color: var(--main-dark);
    border-radius: 12px;
    position: sticky;
    top: 0;
    height: 60px;
}
.header .header-option{
    position: relative;
}

.header .header-option > h1{ font-size: 16pt; text-align: right; color: white;padding: 0.75rem 2rem;}

@media(max-width:991px){
    .header .header-option > h1{
        font-size: 12pt;
    }
}