

.navbar{
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 240px;
    background-color: var(--main-dark);
    height: calc(100vh - 2rem);
    border-radius: 12px;
}
.navbar .meun_logo{
    width: 100px;
    display: block;
    margin:1rem auto;
}
.navbar .nav-menu{
    padding-top: 2rem;
    padding-left:1rem;
    padding-right: 1rem;
    list-style: none;
}
.navbar .nav-menu > li{
    text-align: right;
    
}
.navbar .nav-menu > li > a{
    padding: 12px 16px;
    font-size: 13pt;
    text-decoration: none;
    color: var(--light-gray);
    direction: rtl;
    display: flex;
}
.navbar .nav-menu > li:hover > a{
    color: white;
    
}
.navbar .nav-menu > li > a > svg{
    margin: 2px 0 2px 16px;
    width: 22px;
}
.navbar .nav-menu  .active-nav-item{
    background-color: var(--main-color);
    border-radius: 12px;
    padding: 8px 16px;
    color: white;
}
/* .navbar .nav-menu > li > a > span {
    display: flex;
    flex-wrap: wrap;
} */
.navbar .nav-menu > li > a > span > span{
    background-color: rgb(133, 0, 0);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 7pt;
    margin: 0 4px;
    display: inline-block;
    padding: 2px;
}
@media(max-width:991px){

    .navbar{
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 40px;
        background-color: var(--main-dark);
        height: calc(100vh - 2rem);
        border-radius: 12px;
    }
    .navbar .nav-menu > li > a > span{
        display: none;
    }
    .navbar .nav-menu{
        padding-left:0rem;
        padding-right: 0rem;
    }
    .navbar .nav-menu > li > a > svg{
        margin: 6px auto;
    }
    .navbar .nav-menu .active-nav-item ,.navbar .nav-menu > li > a{
        padding: 8px;
    }
    .navbar .nav-menu .active-nav-item{
        border-radius: 4px;
        padding:2px 8px;
    }


}