.tb-head{
  /*   display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid var(--light-gray);
     direction: rtl; */
     width: 100%;
     display: flex;
     padding: 12px 24px 0px;
     margin: 1em auto 0;
     direction: rtl;
}
.tb-head .tb-column:first-child{
    flex: 5%;min-width:5%;
}
.tb-head .tb-column{
   /*  text-align: center;
    flex: auto; */
    min-width:15%;
    flex: 15%;
    text-align: center;
    color: var(--gray);
    font-size: 11pt;
}
.tb-head .tb-column > p{
    font-size: 12pt;
    color: var(--main-pen);
}
.btn-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-head  > a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px 8px; 
}
.btn-head  > a > svg{
    position: relative;
    top: 2px;
    width: 18px;
}
.btn-head  > a:hover{
    background-color: var(--main-dark);
}
.btn-head{
    width: 100px;
    flex: 100px;
}