.Statistic_Item{
    display: flex;
    width: 100%;
    justify-content: center;
}
.Statistic_Item > div{
    max-width: 33.3%;
    flex: 33.3%;
    padding: 16px;
}
.Statistic_Item > div > div{
    padding: 2rem 0.5rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: var(--box-shadow);
}



@media(max-width:991px){
    .Statistic_Item{
       flex-wrap: wrap;
    }
    .Statistic_Item > div{
        max-width: 40%;
        flex: 40%;
        padding: 16px;
    }  
}





















