.t-container{
    width: calc(100% - 288px);

    height: calc(100% - 2rem);
    position: absolute;
    left: 1rem;
    top: 0;
    border-radius: 12px;
}
.t-container > img{
    position: fixed;
    opacity: 0.7;
    bottom: 8px;
    left: 8px;
    width: 70px;
    z-index: 99;
}
@media(max-width:991px){
    .t-container{ width: calc(100% - 84px);}
}